*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
    text-decoration:none;
    list-style:none;
    scroll-behavior:smooth;
   
}
:root
{
    --text-color:#fff;
    background:var(--second-bg-color);
    --second-bg-color:#22282f;
    --main-color:#ff2b13;
    --other-color:#c3cad5;

    --h1-font:4.5rem;
    --h2-font:2.9rem;
    --p-font:1rem;
}
body{
    color:var(--text-color);
    background:var(--bg-color);
}
header
{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:100;
    display:flex;
    align-items:right;
   
    padding:30px 15%;
    background:transparent;
    transition: all .50s ease;
}
.logo
{
    font-size:36px;
    color:var(--text-color);
    font-weight:600;
}
span
{
    color:var(--main-color);
}
.navlist
{
    display:flex;
   margin-left:700px;

}
.navlist a{
    font-size:20px;
    font-weight:400;
    color:white;
    justify-content:right;
    margin-right:20px;
    transition: all .50s;
}
.navlist a:hover
{
    color:var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon
{
    font-size:35px;
    z-index:100;
    cursor:pointer;
    display:none;
}
.h-btn
{
   display:inline-block;
   padding: 26px;
   background:transparent;
   color:var(--main-color);
   border: 2px solid var(--main-color);
   border-radius:2px;
   font-weight:600;
   transition:all .50s;

}
.h-btn:hover
{
    background:var(--main-color);
    color:white;
    border-radius:2px;
    box-shadow: 0 0 20px var(--main-color);
    transform:scale(1.1);
}
section
{
    padding:20px 16% 60px;
}
.hero
{
    height:80vh;
    width:100%;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:flex-start;

}
.main-content h4{
    font-size:1.5rem;
}
.main-content h1
{
    font-size:var(--h1-font);
    font-size:50px;
    font-weight:800;
    margin:20px 0px  20px;
    line-height:1.2;
}
.main-content p{
    font-size:20px;
    font-weight:400;
    width:100%;
    max-width:100%;
    color:rgb(243, 235, 235);
    line-height:30px;
    margin-bottom:15px;
}
.social
{
    margin-bottom:40px;
}
.social i{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    color:var(--main-color);
    border-radius:50%;
    backdrop-filter:brightness(88%);
    margin-right:17px;
    box-shadow:0 0 20px transparent;
    cursor:pointer;
    transition:all .50s ease;
}
.social i:hover 
{
    transform:scale(1.1);
    color:white;
    box-shadow:0 0 20px var(--main-color);
}
.btn 
{
    display:inline-block;
    padding:15px 28px;
    background:var(--main-color);
    color:var(--bg-color);
    border:2px solid var(--main-color);
    border-radius:8px;
    font-size:15px;
    font-weight:600;
    color:white;
    transition:all .50s ease;
}
.btn:hover {
    background:transparent;
    color:var(--main-color);
    box-shadow:0 0 20px var(--main-color);
    color:white;
}
.btn2
{
    background:transparent;
    color:var(--main-color);
    border:2px solid var(--main-color);
    margin-left:15px;
    transition:all .50s ease;
}
header.sticky
{
    background:black;
    box-shadow:0 .1rem 1rem rgb(0, 0, 0);
    padding:16px 16%;
}
.about
{

    background:var(--second-bg-color);
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    align-items:center;
    gap:1rem;

}
.about-img
{
    width:500px;
    height:600px;
    border-radius:50%;
    object-fit:cover;
    margin:auto;
    padding:auto;
    border:3px solid var(--main-color);
    box-shadow:0 0 20px var(--main-color);
    overflow:hidden;
   
}
.about-img img
{
    margin:auto;
    padding:auto;
    
    justify-content:center;
    text-align:center;
    
    width:500px;
    height:600px;
    overflow:hidden;
    
   
}

.about-text h2
{  
    width:100%;
  font-size:var(--h2-font);
  line-height:1.3;
  margin-bottom:20px;
}
.about-text
{
    width:auto;
    height:auto;
}
.educ-area
{
    margin-bottom:50px;
}
.educ-area p{
    color:var(--text-color);
    font-weight:400;
    font-size:19px;
    line-height:42px;
}
.educ-area p span{
    
    
    -webkit-text-stroke:1px white;
    color:blue;
    
    margin-left:10px;
}
.educ-area .btn
{
    margin-top:10px;
}
.project
{

    background:var(--second-bg-color);
}
.project-content
{
    
    grid-template-columns:repeat(auto-fit,minmax(350px,auto));
    align-items:center;
    text-align:center;
    justify-content:center;
    gap:2.3rem;
    margin-top:3rem;
}
.project1
{
   text-align:center; 
    width:auto;
    height:400px;


}
.project2
{
    margin-top:20px;
    text-align:center; 
    width:auto;
    height:400px;
    

}
#code
{
    margin-top:10px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    color:var(--main-color);
    border-radius:50%;
    backdrop-filter:brightness(88%);
    margin-right:17px;
    box-shadow:0 0 20px transparent;
    cursor:pointer;
    transition:all .50s ease;
    border:1px solid white;
}
#code:hover
{
    transform:scale(1.1);
    color:white;
    box-shadow:0 0 10px var(--main-color);
}
.center-text
{
    text-align: center;

    font-size:20px;
}
.codings
{
    background:var(--second-bg-color);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container
{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:wrap;
    gap:40px;
}
.container .card
{
    position:relative;
    width:220px;
    height:250px;
    background:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.container .card .percent
{
    position:relative;
    width:150px;
    height:150px;
   
}
.container .card .percent svg
{
    position:relative;
    width:150px;
    height:150px;
    transform:rotate(270deg);
}
.container .card .percent svg circle
{
    width:100%;
    height:100%;
    fill:transparent;
    stroke-width:2;
    stroke:#191919;
    transform:translate(5px,5px);
}
.container .card .percent svg circle:nth-child(2)
{
   stroke:var(--clr);
   stroke-dasharray: 440;
   opacity:0;
   stroke-dashoffset: calc(440 - (440 * var(--num))/100);
   animation:fadeIn 1s linear forwards;
   animation-delay:2.5s;
}
@keyframes fadeIn 
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.dot
{
    position:absolute;

    inset:5px;
    z-index:10;
    transform:rotate(calc(3.6deg * var(--num)));
    animation:animateDot 2s linear forwards;

}
.dot::before
{
    content:'';
    position:absolute;
    top:-5px;
    left:50%;
    transform:transalteX(-50%);
    width:10px;
    height:10px;
    border-radius:50%;
    background:var(--clr);

    box-shadow:0 0 10px var(--clr),0 0 30px var(--clr);
}
@keyframes animateDot
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(calc(3.6deg * var(--num)));
    }
}
.number
{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    opacity:0;
    animation:fadeIn 1s linear forwards;
    animation-delay:2s;
}
.number h2{
    display:flex;
    justify-content:center;
    font-weight:2rem;
}
.number h2 span
{
    color:white;
    font-weight:200px;
}
.skills
{

    font-size:20px;

    text-align:center;
    background:var(--second-bg-color);
  
    margin:auto;
    width:800px;
}
.box 
{
    
    margin:auto;
    width:500px;
    background-color:#2d2d2d;

    padding:20px;
    
    
    border-color:var(--main-color);
    font-weight:100px;
}

.box .progress-bar-box
{
    display:flex;
    align-items:center;
}
.box .progress-bar-box .progress-bar
{
   width:100%;
   height:10px;
   background-color:#1e1e1e;
   border-radius:100px;
   overflow:hidden;
   position:relative;
}
.box .progress-bar-box .progress-bar .line
{
    position:absolute;
    width:0%;
    height:100%;
    background-color:var(--main-color);
    border-radius:100px;
    transition:0.2s;

}
.box .progress-bar-box .increasing-percentage
{
    margin-left:10px;
    font-size:25px;
}
.box .progress-bar-box .total-percentage
{
    display:none;
}
.contact-form
{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:4.2rem;
}
.contact-form form
{
    position:relative;
    width:600px;
}
form input,form textarea
{
   width:100%;
   padding:20px;
   border:none;
   outline:none;
   box-shadow:0 0 5px var(--main-color);
   color:black;
   margin-bottom:20px;
   border-radius:8px;
}
form input::placeholder,form textarea::placeholder
{
    color:black;
    font-size:20px;
}
form .send-btn
{
    display:inline-block;
    padding:11px 26px;
    background:var(--main-color);
    color:black;
    border:2px solid var(--main-color);
    border-radius:8px;
    font-size:18px;
    font-weight:600;
    transition:all .50s ease;
    width:30%;
}
form .send-btn:hover
{
    background:transparent;
    color:white;
    box-shadow:0 0 20px var(--main-color);
    cursor: pointer;
}
.footer 
{
    width:100%;
    
    background:var(--second-bg-color);
    display:flex;
    align-items:center;
    text-align:center;
    gap:2rem;
}
.copyright p
{
    text-align:center;
    font-size:15px;
    font-weight:400;
    margin-left:600px;
    color:var(--other-color);
}
.scroll-top i
{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  background:var(--main-color);
  width:45px;
  height:45px;
  border-radius:50%;
  color:white;
  font-size:27px;
}
@media(max-width:360px)
{
    .hero
    {
        height:90vh;
    }
  
    .about
    {
       display:table;
    }
   
    .about-img
{
    width:500px;
    height:500px;
    margin:auto;
    justify-content:center;
    border-radius:50%;
    border:3px solid var(--main-color);
    box-shadow:0 0 20px var(--main-color);
}
.about-img img {
   text-align:center;
   width:500px;
   height:490px;
   max-width:400px;
   object-fit:cover;
   margin-left:50px;
   overflow: hidden;
}
    .about-text
    {
        
        
        width:600px;
        font-size:100px;
        
    }
    .about-text h2
    {
        
        text-align:center;
        
        font-size:46px;
    }
     .educ-area 
    {
        font-size:100px;
        margin-left:50px;
        
    }
    .educ-area .btn{

      margin-left:100px;
      padding:25px;
      width:250px;
      font-size:30px;
      text-align:center;
    }
    .educ-area p{
        color:var(--text-color);
        font-weight:400;
        font-size:27px;
        line-height:42px;
    }
    .educ-area .btn
{
    margin-top:0px;
}
    .project .center-text 
    {
        
        
        font-size:30px;
        width:700px;
    }
    .project-content .row-text 
    {
        
        margin-left:30px;
        text-align:center;
        font-size:25px;
        width:600px;
    }
    .project1
    {
    
        width:700px;
        height:280px;
    }
    .project2
    {
        width:700px;
        height:280px;
    }
    #coding
    {
        margin-left:330px;
        
    }
    .box
    {
        margin-left:180px;
        
    }
    .contact .center-text h2
    {
        margin-left:100px;
        text-align:center;
        width:100%;
    }
    .contact .contact-form
    {
        margin-left:70px;
        width:500px;
    }
    .contact .send-btn
    {
        width:200px;
    }
   
     .footer .copyright p 
     {
        margin-left:200px;
        text-align:center;
        width:100%;
     }
     .scroll-top
     {
        margin-left:300px;
        text-align:center;
        width:100%;
     }
   
    .navlist
{
    padding:15px;
    display:flex;
   margin-left:200px;

}
.main-content p{
    font-size:20px;
    font-weight:400;
    width:700px;
    text-align:justify;
    color:rgb(243, 235, 235);
    line-height:30px;
    margin-bottom:15px;
}
}